h1{
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
body{
    background-color: rgb(105, 103, 103);
}

#card-contenedor img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}